@font-face {
	font-family: 'codropsicons';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/codropsicons/codropsicons.eot');
	src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: white;
	background: #f0f0f0;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	overflow-y: scroll;
}

body.body--hidden {
	overflow: hidden;
}

body.body--hidden .codrops-header,
body.body--hidden .content--related {
	opacity: 0;
}

.codrops-header {
	-webkit-transition: opacity 300ms ease-in-out;
	transition: opacity 300ms ease-in-out;
}

#flip, #flip1, #flip2, #flip3 {
		-webkit-transition: opacity 300ms ease-in-out;
	transition: opacity 300ms ease-in-out;
}

#panel, #flip, #panel1, #flip1, #panel2, #flip2, #panel3, #flip3 {  
	 text-align: center;	 
}

 #panel, #panel1, #panel2, #panel3 {
	 padding: 25px;
	 /*color: black;*/
	 display: none;
	 margin-left:15%;
	 margin-right:15%;
	 text-align: justify;
	 /*background-image: url(white.png);*/
}

#video {
		text-align: center;
}
 
a {
	text-decoration: none;
	color: #de6551;
	outline: none;
}

a:hover,
a:focus {
	color: #3b393d;
}


.demo-3 {
	background: #1b1b1b;
}



.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
/* Header */

.codrops-header {
	padding: 2em;
	text-align: center;
}

.codrops-header h1 {
	font-size: 2.25em;
	font-weight: 400;
	line-height: 1.2;
	margin: .5em 0 0;
}



.codrops-header h1 span {
	font-size: .50em;
	display: block;
	padding: .5em;
	color: #999;
}

/* Demo links */

.codrops-demos {
	margin: 2em 0 0;
}

.codrops-demos a {
	display: inline-block;
	margin: 0 .5em;
}

.codrops-demos a.current-demo {
	font-weight: bold;
	color: #3b393d;
}
/* Content */
.content {

}

/* Related demos */

.content--related {
	font-weight: bold;
	text-align: center;
}

@media only screen and (max-width: 580px) {
	#video {
		margin-left: auto;
		margin-right: auto;
	}
	
	 #panel, #panel1, #panel2, #panel3 {
	 padding: 0;
	 /*color: black;*/
	 display: none;
	 margin-left:5%;
	 margin-right:5%;
	 text-align: justify;
	 /*background-image: url(white.png);*/
}
}



